In [1]:
import datetime as dt
import pandas as pd

In [2]:
# User configurable options
reporting_period_in_days = 7
leads_null_value = 'NO LEADS'
outcome_null_value = 'NO LEADS'

In [3]:
# Read data
df_app_users = pd.read_csv('./data/ATB/app_users.csv')
df_leads_by_users = pd.read_csv('./data/ATB/leads_by_user.csv', parse_dates=[0])

In [4]:
# Transform data
df_outcomes_by_user = (df_leads_by_users[(df_leads_by_users['TIMESTAMP'] > (dt.datetime.today() - dt.timedelta(days=reporting_period_in_days)))]
    .groupby(['USER_OID', 'LEAD', 'OUTCOME'])
    .size()
    .reset_index()
    .rename(columns={0: 'NUMBER_OUTCOME'})
    .merge(df_app_users.loc[df_app_users['STATUS'] == 'A'], on=['USER_OID'], how='right')
    .drop(['USER_OID', 'STATUS'], axis=1)
    .fillna({'LEAD': leads_null_value, 'OUTCOME': outcome_null_value, 'NUMBER_OUTCOME': 0})
    .sort_values(['NAME', 'LEAD', 'OUTCOME'])
    .reindex(columns=['NAME', 'LEAD', 'OUTCOME', 'NUMBER_OUTCOME'])      
)

In [5]:
# Display output
df_outcomes_by_user

                 NAME        LEAD   OUTCOME  NUMBER_OUTCOME
15       Abacus, Lazy    NO LEADS  NO LEADS             0.0
10  Abacus, Professor    CHEQUING      LOST             3.0
11  Abacus, Professor    CHEQUING       WON             1.0
12  Abacus, Professor  MASTERCARD      LOST             1.0
13  Abacus, Professor  MASTERCARD       WON             1.0
14  Abacus, Professor     SAVINGS      LOST             4.0
6             Pikachu    CHEQUING       WON             3.0
7             Pikachu  MASTERCARD      LOST             3.0
8             Pikachu  MASTERCARD       WON             1.0
9             Pikachu     SAVINGS      LOST             1.0
0              Sharky    CHEQUING      LOST             6.0
1              Sharky    CHEQUING       WON             2.0
2              Sharky  MASTERCARD      LOST             1.0
3              Sharky  MASTERCARD       WON             4.0
4              Sharky     SAVINGS      LOST             1.0
5              Sharky     SAVINGS       WON             1.0
16            Snorlax    NO LEADS  NO LEADS             0.0