In [1]:
import pandas as pd

In [2]:
# read data
df_app_users = pd.read_csv('./data/ATB/app_users.csv')
df_leads_by_users = pd.read_csv('./data/ATB/leads_by_user.csv', parse_dates=[0])

In [3]:
# aggregate leads
aggregated = df_leads_by_users.groupby(['USER_OID', 'LEAD', 'OUTCOME']).size()
aggregated

USER_OID  LEAD        OUTCOME
1         CHEQUING    LOST       8
                      WON        2
          MASTERCARD  LOST       2
                      WON        4
          SAVINGS     LOST       3
                      WON        4
2         CHEQUING    WON        6
          MASTERCARD  LOST       3
                      WON        3
          SAVINGS     LOST       1
3         CHEQUING    LOST       3
                      WON        1
          MASTERCARD  LOST       3
                      WON        1
          SAVINGS     LOST       4
5         MASTERCARD  WON        1
7         CHEQUING    LOST       1
dtype: int64

In [4]:
# Filter to only Active app users
df_app_users_active = df_app_users.loc[df_app_users['STATUS'] == 'A']

In [5]:
# Merge dataframes
users_with_outcomes = pd.merge(aggregated.reset_index().rename(columns={0: 'NUMBER_OUTCOME'}), df_app_users_active, on=['USER_OID'], how='right')

In [6]:
# Remove unwanted columns
df_outcomes_by_user = users_with_outcomes.drop(['USER_OID', 'STATUS'], axis=1)

In [7]:
# Re-order columns
df = df_outcomes_by_user[['NAME', 'LEAD', 'OUTCOME', 'NUMBER_OUTCOME']]

In [8]:
# Sort columns
df.sort_values(['NAME', 'LEAD', 'OUTCOME'], inplace=True)

In [9]:
# Fill null values
df['LEAD'].fillna('NO LEADS', inplace=True)
df['OUTCOME'].fillna('NO LEADS', inplace=True)
df['NUMBER_OUTCOME'].fillna(0, inplace=True)

In [10]:
# output dataframe
df

                 NAME        LEAD   OUTCOME  NUMBER_OUTCOME
15       Abacus, Lazy    NO LEADS  NO LEADS             0.0
10  Abacus, Professor    CHEQUING      LOST             3.0
11  Abacus, Professor    CHEQUING       WON             1.0
12  Abacus, Professor  MASTERCARD      LOST             3.0
13  Abacus, Professor  MASTERCARD       WON             1.0
14  Abacus, Professor     SAVINGS      LOST             4.0
6             Pikachu    CHEQUING       WON             6.0
7             Pikachu  MASTERCARD      LOST             3.0
8             Pikachu  MASTERCARD       WON             3.0
9             Pikachu     SAVINGS      LOST             1.0
0              Sharky    CHEQUING      LOST             8.0
1              Sharky    CHEQUING       WON             2.0
2              Sharky  MASTERCARD      LOST             2.0
3              Sharky  MASTERCARD       WON             4.0
4              Sharky     SAVINGS      LOST             3.0
5              Sharky     SAVINGS       WON             4.0
16            Snorlax    NO LEADS  NO LEADS             0.0