# Introduction
Hello!  In this tutorial we will scrape a more complicated page from Wikipedia.  This is a continuation of [Part 1](https://onefortheroad.github.io/python/tutorial/2017/04/29/web-scraping-part-1/) where we learned the basics of web scraping.

When we left off Part 1, we had a *pandas* dataframe containing the Top 100 Canadian Beers. I'd like to add some **geospatial** information to our beer list so I can plan a pilgrimage to these fantastic breweries.  (Actually, we'll use this geospatial information in a future tutorial on visualization.)  Wikipedia's [List of Breweries in Canada](https://en.wikipedia.org/wiki/List_of_breweries_in_Canada) is a fine place to start.  Let's go!

## Contents

# Code to split lists into multiple rows
splitting (exploding) a list into additional rows:
http://stackoverflow.com/questions/28442358/splitting-a-list-inside-a-pandas-dataframe

In [39]:
df[df.name=='Brewsters Brewing Company']
# how to split the city into two rows

                   city                       name province
10  [Calgary, Edmonton]  Brewsters Brewing Company  Alberta

In [75]:
df_new = df.groupby(['name', 'province']).city.apply(lambda x: pd.DataFrame(x.values[0])).reset_index().drop('level_2', axis = 1)
df_new.columns = ['name', 'province', 'city']
df_new[df_new.name=='Les 3 Brasseurs,']
# df_new.head(10)

                 name province         city
275  Les 3 Brasseurs,   Quebec  Quebec City
276  Les 3 Brasseurs,   Quebec        Laval
277  Les 3 Brasseurs,   Quebec     Brossard

In [82]:
df_new.describe()

                  name province     city
count              509      509      509
unique             496       12      259
top     La Voie Maltée  Ontario  Toronto
freq                 3      211       46